$hamburger: (
  width:  42px,
  height: 33px,
  unit:   2px,
  gap:    6px
);

.hamburger {
  position: relative;
  width: map-get($hamburger, width);
  height: map-get($hamburger, height);
  padding: 5px 10px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  @include media-breakpoint-up(md) {
    display: none;
  }
  span {
    display: block;
    width: 100%;
    height: map-get($hamburger, unit);
    background-color: $black;
    border-radius: 10px;
    + span {
      margin-top: map-get($hamburger, gap);
    }
  }
  @include media-breakpoint-down(lg) {
    &.opened {
      span {
        width: (map-get($hamburger, width) - 20px) * 1.25;
        // height: map-get($hamburger, unit) - 1px;
        margin-top: 0;
        &:nth-child(1) {
          transform: rotate(-45deg) translate(-2px, -1px);
        }
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(3) {
          transform: rotate(45deg) translate(-2.5px, 0.5px);
        }
      }      
    }
  }
}
