// Required
@import "../../node_modules/bootstrap/scss/functions";
@import "./bootstrap/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "common";
@import "bootstrap/bootstrap";

@import "slick";

@import "header";
@import "nav";
@import "hamburger";
@import "footer";
@import "kv";

a.text-link {
  color: #A88B5F;
  &:hover {
    color: darken(#A88B5F, 10%);
  }
}

.position-relative {
  position: relative;
}

main {
  section {
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
    .col-md-1000 {
      @include media-breakpoint-up(md) {
        max-width: 1040px;
      }
    }
    .anchor {
      position: absolute;
      top: -60px;
    }
    &.bonus {
      background-color: #E9E8E8;
      background-image: url('../images/bg-bonus.svg');
      background-repeat: no-repeat;
      background-position: center left;
      @include media-breakpoint-up(xl) {
        background-size: contain;
      }
      @include media-breakpoint-down(xl) {
        background-size: cover;
      }
    }
    &.sets {
      background-color: #E9E8E8;
      background-image: url('../images/bg-sets.svg');
      background-repeat: repeat-y;
      background-position: top right;
      @include media-breakpoint-up(xl) {
        background-size: contain;
      }
      @include media-breakpoint-down(xl) {
        background-size: cover;
      }
    }
    &.description {
      padding-top: 60px;
      padding-bottom: 200px;
      @include media-breakpoint-up(md) {
        padding-top: 100px;
        padding-bottom: 150px;
      }
      overflow: hidden;
      @include fs(18);
      .lines {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100vw;
        max-width: none;
        z-index: -1;
      }
    }
    &.digital {
      background-image: url('../images/bg-digital.svg');
      background-size: cover;
      background-repeat: no-repeat;
      @include media-breakpoint-up(xl) {
        background-position: center;
      }
      @include media-breakpoint-down(lg) {
        background-position: center left;
      }
    }
    &.others {
      background: linear-gradient(180deg, #E5D6B7 0%, #BFAA8D 100%);
    }
  }
  h2, .h2 {
    @include fs(22);
    @include media-breakpoint-up(md) {
      @include fs(32);
    }
    &.text-primary {
      color: #BCA88A;
    }
    &.text-cw {
      color: #d60c18;
    }
    &.text-green {
      color: #019E97;
    }
    &.text-blue {
      color: #469FE3;
    }
  }
  h2 {
    gap: 15px;
    img {
      width: 60px;
      border-radius: 10px;
      @include media-breakpoint-up(md) {
        width: 80px;
      }
    }
  }
  .h3 {
    @include fs(18);
    @include media-breakpoint-up(md) {
      @include fs(26);
    }
  }
  .podcasts-badges {
    gap: 10px;
  }
}
